<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/pico.blue.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    {%- for file in css %}
      <link rel="stylesheet" href="{{ file }}">
    {%- endfor %}
    <style>
        {{ style }}
    </style>
</head>
<body>
    {% include "../_components/navbar.njk" %}
    {% include "../_components/sidenav.njk" %}
    
    <main>
        {{ content | safe }}
    </main>
    
    <script src="/js/helpers.js"></script>
    
    <!-- Firebase Import Map -->
    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
      import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore.js";
      import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js";
            
      const firebaseConfig = {
        apiKey: "{{ firebase.apiKey }}",
        authDomain: "{{ firebase.authDomain }}",
        projectId: "{{ firebase.projectId }}",
        storageBucket: "{{ firebase.storageBucket }}",
        messagingSenderId: "{{ firebase.messagingSenderId }}",
        appId: "{{ firebase.appId }}"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      window.db = getFirestore(app);
      window.auth = getAuth(app);
      
      window.getUserData = async (uid) => {
        const docRef = doc(window.db, "users", uid);
        const docSnap = await getDoc(docRef);
        if (docSnap.exists()) {
            return docSnap.data(); // Returns { name, role, email, etc }
        }
        return null;
      };
    </script>

    {%- for script in js %}
      <script type="module" src="{{ script }}"></script>
    {%- endfor %}
</body>
</html>
